<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cold.framework.dao.mapper.BMerchAudMapper">
  <resultMap id="BaseResultMap" type="com.cold.framework.dao.model.BMerchAud">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="AUDIT_CODE" jdbcType="VARCHAR" property="auditCode" />
    <result column="PROPOSER_CODE" jdbcType="VARCHAR" property="proposerCode" />
    <result column="PROPOSER_NAME" jdbcType="VARCHAR" property="proposerName" />
    <result column="PROPOSER_TIME" jdbcType="TIMESTAMP" property="proposerTime" />
    <result column="AUDITOR_CODE" jdbcType="VARCHAR" property="auditorCode" />
    <result column="AUDITOR_NAME" jdbcType="VARCHAR" property="auditorName" />
    <result column="AUDITOR_TIME" jdbcType="TIMESTAMP" property="auditorTime" />
    <result column="AUDIT_OPERATION" jdbcType="VARCHAR" property="auditOperation" />
    <result column="AUDIT_OPINION" jdbcType="VARCHAR" property="auditOpinion" />
    <result column="USER_CODE" jdbcType="VARCHAR" property="userCode" />
    <result column="MERCH_NAME" jdbcType="VARCHAR" property="merchName" />
    <result column="MERCH_SNAME" jdbcType="VARCHAR" property="merchSname" />
    <result column="MERCH_ENAME" jdbcType="VARCHAR" property="merchEname" />
    <result column="MERCH_PNAME" jdbcType="VARCHAR" property="merchPname" />
    <result column="MCC" jdbcType="VARCHAR" property="mcc" />
    <result column="MCCNAME" jdbcType="VARCHAR" property="mccname" />
    <result column="AGENT_ID" jdbcType="VARCHAR" property="agentId" />
    <result column="AGENT_NAME" jdbcType="VARCHAR" property="agentName" />
    <result column="MERCH_LEVEL" jdbcType="VARCHAR" property="merchLevel" />
    <result column="VERIFY_FLAG" jdbcType="VARCHAR" property="verifyFlag" />
    <result column="MERCH_TYPE" jdbcType="VARCHAR" property="merchType" />
    <result column="CUPS_FLAG" jdbcType="VARCHAR" property="cupsFlag" />
    <result column="CONN_TYPE" jdbcType="VARCHAR" property="connType" />
    <result column="EXPAND_TYPE" jdbcType="VARCHAR" property="expandType" />
    <result column="LICENSE_NO" jdbcType="VARCHAR" property="licenseNo" />
    <result column="LICENSE_ADDR" jdbcType="VARCHAR" property="licenseAddr" />
    <result column="GROUP_CODE" jdbcType="VARCHAR" property="groupCode" />
    <result column="LEGAL_NAME" jdbcType="VARCHAR" property="legalName" />
    <result column="LEGAL_CERT_TYPE" jdbcType="VARCHAR" property="legalCertType" />
    <result column="LEGAL_CERT_NO" jdbcType="VARCHAR" property="legalCertNo" />
    <result column="MERCH_ADDR" jdbcType="VARCHAR" property="merchAddr" />
    <result column="TAX_CODE" jdbcType="VARCHAR" property="taxCode" />
    <result column="CONTACTS" jdbcType="VARCHAR" property="contacts" />
    <result column="CONTACTS_CERT_TYPE" jdbcType="VARCHAR" property="contactsCertType" />
    <result column="CONTACTS_CERT_NO" jdbcType="VARCHAR" property="contactsCertNo" />
    <result column="ISSUING_AUTHO" jdbcType="VARCHAR" property="issuingAutho" />
    <result column="CERT_START_DATE" jdbcType="VARCHAR" property="certStartDate" />
    <result column="CERT_END_DATE" jdbcType="VARCHAR" property="certEndDate" />
    <result column="CERT_ADDR" jdbcType="VARCHAR" property="certAddr" />
    <result column="ZIP_CODE" jdbcType="VARCHAR" property="zipCode" />
    <result column="TEL" jdbcType="VARCHAR" property="tel" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="ADDR" jdbcType="VARCHAR" property="addr" />
    <result column="BUSI_SCOPE" jdbcType="VARCHAR" property="busiScope" />
    <result column="PROVINCE_CODE" jdbcType="VARCHAR" property="provinceCode" />
    <result column="PROVINCE_NAME" jdbcType="VARCHAR" property="provinceName" />
    <result column="CITY_CODE" jdbcType="VARCHAR" property="cityCode" />
    <result column="CITY_NAME" jdbcType="VARCHAR" property="cityName" />
    <result column="COUNTY_CODE" jdbcType="VARCHAR" property="countyCode" />
    <result column="COUNTY_NAME" jdbcType="VARCHAR" property="countyName" />
    <result column="CONTRACT_ID" jdbcType="VARCHAR" property="contractId" />
    <result column="OPEN_DATE" jdbcType="VARCHAR" property="openDate" />
    <result column="EXPIRE_DATE" jdbcType="VARCHAR" property="expireDate" />
    <result column="SETTLE_TYPE" jdbcType="VARCHAR" property="settleType" />
    <result column="SETTLE_MODE" jdbcType="VARCHAR" property="settleMode" />
    <result column="SETTLE_DATE" jdbcType="VARCHAR" property="settleDate" />
    <result column="ACCOUNT_TYPE" jdbcType="VARCHAR" property="accountType" />
    <result column="ACCOUNT_ID" jdbcType="VARCHAR" property="accountId" />
    <result column="ACCOUNT_NAME" jdbcType="VARCHAR" property="accountName" />
    <result column="BANK_CODE" jdbcType="VARCHAR" property="bankCode" />
    <result column="BANK_NAME" jdbcType="VARCHAR" property="bankName" />
    <result column="C_FEE_RATE" jdbcType="DECIMAL" property="cFeeRate" />
    <result column="C_FEE_MAX" jdbcType="DECIMAL" property="cFeeMax" />
    <result column="C_FEE_MIN" jdbcType="DECIMAL" property="cFeeMin" />
    <result column="D_FEE_RATE" jdbcType="DECIMAL" property="dFeeRate" />
    <result column="D_FEE_MAX" jdbcType="DECIMAL" property="dFeeMax" />
    <result column="D_FEE_MIN" jdbcType="DECIMAL" property="dFeeMin" />
    <result column="WX_FEE_RATE" jdbcType="DECIMAL" property="wxFeeRate" />
    <result column="WX_FEE_MAX" jdbcType="DECIMAL" property="wxFeeMax" />
    <result column="WX_FEE_MIN" jdbcType="DECIMAL" property="wxFeeMin" />
    <result column="BB_FEE_RATE" jdbcType="DECIMAL" property="bbFeeRate" />
    <result column="BB_FEE_MAX" jdbcType="DECIMAL" property="bbFeeMax" />
    <result column="BB_FEE_MIN" jdbcType="DECIMAL" property="bbFeeMin" />
    <result column="D0_FEE_RATE" jdbcType="DECIMAL" property="d0FeeRate" />
    <result column="RESIDENCE" jdbcType="VARCHAR" property="residence" />
    <result column="LEGAL_MOBILE" jdbcType="VARCHAR" property="legalMobile" />
    <result column="D0_SINGLE_CASH_DRAWAL" jdbcType="DECIMAL" property="d0SingleCashDrawal" />
    <result column="ID_CARD" jdbcType="VARCHAR" property="idCard" />
    <result column="ACCOUNT_MOBILE" jdbcType="VARCHAR" property="accountMobile" />
    <result column="SEND_CNT" jdbcType="VARCHAR" property="sendCnt" />
    <result column="SEND_TIME" jdbcType="TIMESTAMP" property="sendTime" />
    <result column="YC_FREE_FEE_RATE" jdbcType="DECIMAL" property="ycFreeFeeRate" />
    <result column="YD_FREE_FEE_RATE" jdbcType="DECIMAL" property="ydFreeFeeRate" />
    <result column="YC_QRCODE_FEE_RATE" jdbcType="DECIMAL" property="ycQrcodeFeeRate" />
    <result column="YD_QRCODE_FEE_RATE" jdbcType="DECIMAL" property="ydQrcodeFeeRate" />
    <result column="YC_NFC_FEE_RATE" jdbcType="DECIMAL" property="ycNfcFeeRate" />
    <result column="YD_NFC_FEE_RATE" jdbcType="DECIMAL" property="ydNfcFeeRate" />
    <result column="LEGAL_NAME_ENCRYPT" jdbcType="VARCHAR" property="legalNameEncrypt" />
    <result column="LEGAL_CERT_NO_ENCRYPT" jdbcType="VARCHAR" property="legalCertNoEncrypt" />
    <result column="LEGAL_MOBILE_ENCRYPT" jdbcType="VARCHAR" property="legalMobileEncrypt" />
    <result column="CONTACTS_ENCRYPT" jdbcType="VARCHAR" property="contactsEncrypt" />
    <result column="CONTACTS_CERT_NO_ENCRYPT" jdbcType="VARCHAR" property="contactsCertNoEncrypt" />
    <result column="TEL_ENCRYPT" jdbcType="VARCHAR" property="telEncrypt" />
    <result column="MOBILE_ENCRYPT" jdbcType="VARCHAR" property="mobileEncrypt" />
    <result column="ACCOUNT_NAME_ENCRYPT" jdbcType="VARCHAR" property="accountNameEncrypt" />
    <result column="ACCOUNT_ID_ENCRYPT" jdbcType="VARCHAR" property="accountIdEncrypt" />
    <result column="ACCOUNT_MOBILE_ENCRYPT" jdbcType="VARCHAR" property="accountMobileEncrypt" />
    <result column="ID_CARD_ENCRYPT" jdbcType="VARCHAR" property="idCardEncrypt" />
    <result column="KEY_NAME" jdbcType="VARCHAR" property="keyName" />
    <result column="GRADE_MERCH_LEVEL" jdbcType="VARCHAR" property="gradeMerchLevel" />
    <result column="AUTHENTICATION" jdbcType="VARCHAR" property="authentication" />
    <result column="CHANNEL_JOIN" jdbcType="VARCHAR" property="channelJoin" />
    <result column="D0_TYPE" jdbcType="VARCHAR" property="d0Type" />
    <result column="DQ_FEE_RATE" jdbcType="DECIMAL" property="dqFeeRate" />
    <result column="CQ_FEE_RATE" jdbcType="DECIMAL" property="cqFeeRate" />
    <result column="E_D0_FEE_RATE" jdbcType="DECIMAL" property="eD0FeeRate" />
    <result column="E_D0_SINGLE_CASH_DRAWAL" jdbcType="DECIMAL" property="eD0SingleCashDrawal" />
    <result column="LEGAL_CERTNO_START_TIME" jdbcType="VARCHAR" property="legalCertnoStartTime" />
    <result column="LEGAL_CERTNO_END_TIME" jdbcType="VARCHAR" property="legalCertnoEndTime" />
    <result column="LICENSE_START_TIME" jdbcType="VARCHAR" property="licenseStartTime" />
    <result column="LICENSE_END_TIME" jdbcType="VARCHAR" property="licenseEndTime" />
    <result column="ACCOUNT_IDCARD_START_TIME" jdbcType="VARCHAR" property="accountIdcardStartTime" />
    <result column="ACCOUNT_IDCARD_END_TIME" jdbcType="VARCHAR" property="accountIdcardEndTime" />
    <result column="CONTACTS_CITIZENSHIP" jdbcType="VARCHAR" property="contactsCitizenship" />
    <result column="CONTACTS_PROFESSION" jdbcType="VARCHAR" property="contactsProfession" />
    <result column="CONTACTS_GENDER" jdbcType="VARCHAR" property="contactsGender" />
    <result column="ORIGINAL_CONTENT" jdbcType="VARCHAR" property="originalContent" />
    <result column="REGISTER_CAPITAL" jdbcType="VARCHAR" property="registerCapital" />
  </resultMap>
</mapper>