<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cold.framework.dao.mapper.SysWarnMapper" >
  <resultMap id="BaseResultMap" type="com.cold.framework.dao.model.SysWarn" >
    <!--
      WARNING - @mbg.generated
    -->
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="user_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="email" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="phone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="event_type" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="email_state" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="phone_state" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="state" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_at" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="last_update" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
</mapper>